.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    --translate-x: -100px;
    animation: slide 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    --translate-y: -100px;
    animation: slide 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    --translate-y: 100px;
    animation: slide 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 30px;
    opacity: 0;
    text-align: justify;
    --translate-x: 100px;
    animation: slide 1s ease forwards;
    animation-delay: 1s;
}

.home-content .btn-box {
    display: flex;
    height: 50px;
}

@media (max-width: 768px) {

    .home h1 {
        font-size: 2em;
        margin: 0;
    }

    .home h3 {
        font-size: 1.3em;
        margin: 0;
    }

    .home h3 span {
        /* Ensure it behaves as a block element */
        white-space: normal;
    }
}