@import url('../../animations/slide-animation.css');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 10% 0;
    background-color: transparent;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    --translate-x: -100px;
    /* Moves down from 100px */
    animation: slide 1s ease forwards;
}

.navbar a {
    font-size: 18px;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    display: inline-block;
    --translate-y: 100px;
    animation: slide .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

/* Add this to your existing CSS */
/* Default styles for hamburger icon */
.hamburger {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    /* Stack lines vertically */
    cursor: pointer;
    /* Pointer cursor */
}

.hamburger div {
    height: 3px;
    /* Thickness of the lines */
    width: 25px;
    /* Width of the lines */
    background-color: #f2f2f2;
    /* Color of the lines */
    margin: 4px 0;
    /* Spacing between lines */
}

@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
        /* Adjust padding for mobile */
        flex-direction: row;
        /* Stack items vertically */
        align-items: flex-start;
        /* Align items to the start */
    }

    .navbar {
        display: none;
        /* Hide navbar links by default */
        flex-direction: column;
        /* Stack links vertically */
        width: 100%;
        /* Full width */
        background-color: rgba(0, 0, 0, 0.9);
        /* Background for dropdown */
        position: absolute;
        /* Position it below the header */
        top: 60px;
        /* Adjust this according to your header height */
        left: 0;
        padding: 10px 0;
        /* Padding for the dropdown */
        z-index: 99;
        /* Ensure it appears above other content */
    }

    .navbar.active {
        display: flex;
        /* Show navbar when active */
    }

    .navbar a {
        margin: 10px 0;
        /* Vertical spacing for links */
    }

    .hamburger {
        display: block;
        /* Show hamburger icon */
        cursor: pointer;
        /* Pointer cursor */
    }

    .header.dimmed {
        background-color: rgba(0, 0, 0, 0.9);
        /* Opaque background */
    }
}